[pull]
	ff = only
[user]
	name = satche
	email = info@thomas-robert.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = cache
